body {
  font-family: Arial, sans-serif;
  background-color: wheat;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    color: #333;
  }

  h3 {
    color: #555;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    th,
    td {
      padding: 10px;
      border: 1px solid #ddd;
      th {
        background-color: #f4f4f4;
        color: #333;
      }
    }
  }

  a {
    text-decoration: none;
    color: #007bff;
    &:hover {
      text-decoration: underline;
      background-color: green;
    }
  }

  input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  #btn_add {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}
